.guide-section {
    position: fixed;
    width: 200px;
    height: 80vh;
    top: 48px;
    left: 0;
    border-right: 1px solid rgb(135, 196, 196);
}

.guide-section ul {
    padding: 0;
}

.guide-section li {
    list-style: none;
    padding: 20px 20px 10px 25px;
    border-bottom: 1px solid;
    /* display: flex; */
    /* align-items: center; */
}

li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}


